*{
  box-sizing: border-box;
}

body{
  margin: 0;
  padding: 0;
  font-family: 'Source Sans Pro', sans-serif;
}

h1{
  margin: 0;
  padding: 0;
}

p{
  margin: 0;
  padding: 0;
}

a{
  text-decoration: none;
  color: inherit;
}

ul{
  margin: 0;
  padding: 0;
  list-style: none;
}

li{
  margin: 0;
  padding: 0;
}

button{
  outline: none;
  background-color: initial;
  box-shadow: none;
  border: none;
}

input{
  border: none;
  outline: none;
  box-shadow: none;
}