@mixin input{
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  padding: 10px 16px;
  background-color: $white-background;
  border: 1px solid $white-background;
  border-radius: 4px;

  &::placeholder{
    color: $greys-500;
  }
}