$red-background: #FF8484;
$white-background: #FFFEFB;
$green-background: #7BAE73;
$grey-background: #EEEEEE;
$greys-500: #B4B4B4;
$temp-darks: #49485E;
$desktop: 1440px;
$tab: 1028px;
$mobile: 768px;

